*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;

}

.pge_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20%;
    /* background-color: goldenrod; */
    margin-left: 18px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-right: 1px solid #ccc;
}
.logo_wrapper{
    height: 10vh;
    padding-top: 5vh;
}
nav .navbar_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90vh;
    position: fixed;
}

.navbarlinks_wrapper a {
    text-decoration: none;
    color: black;
}
.navbarlinks_wrapper #nav_profile{
    border-radius: 50%;
    position: relative;
    top: 5px;
}
main {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    background-color: darksalmon;
    height: auto;
}

main .storiespost_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.stories{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section_wrapper .img_stories{
    background-image: url('../images/gradient_circle.png');
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px;
}
.section_wrapper .img_stories img{
    border-radius: 50%;
    object-fit: cover;
    
}
section fieldset{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
     border: 1px solid #ccc; 
     padding: 8px;
     width: 400px;
     border-radius: 20px;
    
}
section fieldset legend {
    background-color: white;
    text-align: center;
    padding: 8px;
    border-radius: 18px;
    font-size: 16px;
}
section .imgstoriespost_wrapper{
    justify-content: space-around;
    align-items: center;
}
aside {
    padding: 20px;
}